@tailwind base;
@tailwind components;
@tailwind utilities;


/* google font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,800;1,700&family=Raleway:ital,wght@0,400;0,500;1,400&display=swap');


body {
  font-family: "MontSerrat", sans-serif;
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0
}

/*********main nav design*********/
.drop_down {
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out;


}

.dropDown_list {
  position: relative
}

.dropDown_list:hover .drop_down {
  top: 18px;
  visibility: visible;
  opacity: 1
}

/**********slider banner**********/
.sl-h {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 550px;
}


.content_wrapper,
.slider_content {
  min-height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;

}

img.w-full.about_img.rounded {
  width: 447px;

}

@media screen and (max-width:768px) {

  .sl-h,
  .slider_content,
  .content_wrapper {
    min-height: 450px;
  }
}


/*******category overlay style******/
/*******overlay style*******/
.overlay:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  border-radius: 6px;
}

/********featured product *******/
.cart_bag,
.quick_view {
  opacity: 0;
  visibility: visible;
  transition: all 0.35s;
}

.prod_card:hover .cart_bag,
.prod_card:hover .quick_view {
  opacity: 1;
  visibility: visible;
}

.prod_card:hover .quick_view {
  bottom: 0
}


/**********customer review********/
.border_shadow {
  box-shadow: -1px -11px 36px 11px #e7dfdfac;
}

.arrow_top:before {
  position: absolute;
  top: -16px;
  left: 49%;
  margin-left: -10px;
  content: "";
  display: block;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid white;

}

.slick-dots li button:before {
  font-size: 11px !important;
  margin-top: 27px !important
}


/*******featured product slider*********/
/* .slick-prev,
.slick-next {
  top: -11% !important;
}

.slick-next {
  right: 3% !important
}



.slick-prev {
  right: 7% !important
} */

.slick-next:before,
.slick-prev:before {

  color: #fff !important;
  font-size: 15px !important;
  width: 34px;
  display: block;
  height: 34px;

  line-height: 37px !important;
  background-color: #111;
  border-radius: 50%;
  font-family: "FontAwesome" !important;
}

/*********slick slider********/

/* .slick-slide>div {
  padding: 0 13px !important
} */

/* 
.slick-slide>div:nth-child(2) {
  padding: 0 13px !important;
}


.slick-slide>div:nth-child(3) {
  padding: 0 13px !important;
} */

.slick-list {
  padding: 0 -10px;
}


/* responsive menu */
/*=======================================
==================hamburger button
=======================================*/

.responsive_menu {
  margin-left: auto;

}

button.hamburger_icon {
  background: none;
  outline: none;
  border: none;
  font-size: 1.7rem;
  padding: 0.2rem;
  cursor: pointer;
  color: #000;
  position: absolute;
  top: 14px;
  right: 43px;
  display: none;


}

.side_nav {
  background: #000 !important;
  width: 50%;
  height: 100%;
  position: fixed;
  left: -100%;
  z-index: 9999;
  top: 0;
  padding: 4.9rem 0;
  overflow-x: hidden;
  text-align: center;
  transition: 0.7s;
}

.side_nav.active {
  left: 0;
}


ul.mobile_menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
}

.mobile_menu li {
  padding: 1rem 1rem;
  transition: all 0.3s;
  width: 100%;
  font-size: 14px;
}

.mobile_menu li a {
  transition: all 0.3s;
}

.mobile_menu li a:hover,

.mobile_menu li a:active {
  color: #E64E08 !important
}


.mobile_item {
  font-size: 1rem;
  text-transform: capitalize;
  color: #989898;
  font-weight: 400;
  line-height: 1.6rem;
  transition: 0.3s;
}

.mobile_menu li:hover .mobile_item,
.mobile_menu li:focus .mobile_item {
  color: #f1f1f1;
}


button.close_btn {
  position: absolute;
  right: 29px;
  top: 10px;
  background: none;
  outline: none;
  border: none;
  color: #989898;
  font-size: 2rem;
  padding: 0.5rem;
  cursor: pointer;
  transition: 0.3s;
}

.close_btn:hover {
  color: #f1f1f1;
}

.hide_nav {
  visibility: hidden;
}

/*******responsive design*******/

@media screen and (max-width:900px) {


  .mani_menu {
    display: none;
    visibility: hidden;
  }

  button.hamburger_icon {
    display: block;
  }
}

@media screen and (max-width:576px) {


  /*****mobile menu******/
  .side_nav {

    width: 60%;
  }

  button.hamburger_icon {
    top: 8px
  }
}